@font-face {
  font-family: "NotoSansHK";
  src: url("../assets/fonts/NotoSansHK-Regular.otf");
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../assets/fonts/SourceSansPro-Regular.ttf");
}
