@font-face {
  font-family: "NotoSansHK";
  src: url("../assets/fonts/NotoSansHK-Regular.otf");
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../assets/fonts/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: "NotoSansKR";
  src: url("../assets/fonts/NotoSansKR-Regular.otf");
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
